@use "../../styles/mixins" as *;

.home-view {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__header {
    @include flex-between-center;
    padding: 0 2rem;

    &__filters {
      @include flex-between-center;
      gap: 2rem;
    }
  }
}
