.button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  text-align: center;
  &--disabled {
    background-color: var(--gray200, #e5e7eb);
    color: var(--gray500, #6b7280);
    cursor: not-allowed;
    pointer-events: none;
  }

  &--contained {
    color: #fff;
    border: none;
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid currentColor;
  }
}
