@use "../../styles/mixins" as *;
@use "../../styles/mixins" as *;

.header {
    @include flex-between-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 1rem;

    &__title,
    &__movie__title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include respond-to("small") {
            font-size: 2rem;
        }

        @include respond-to("large") {
            font-size: 2.5rem;
        }
    }

    &__movie__title {
        padding-left: 1rem;

        @include respond-to("large") {
            padding-left: 12rem;
        }
    }

    .header-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2rem;
    }

    &__input {
        margin: 0 12rem 0 auto;
        width: 100%;
        max-width: 24rem;
        @include flex-center;

        @include respond-to("small") {
            max-width: 28rem;
            margin: 0 auto;
        }

        @include respond-to("large") {
            max-width: 32rem;
            margin: 0 auto;
        }
    }

    &__favorites {
        @include flex-center;

        gap: 0.5rem;

        @include respond-to("small") {
            padding-right: 0rem;
        }

        @include respond-to("medium") {
            padding-right: 2rem;
        }
    }
}
