@use "../../styles/mixins" as *;

.not-found {
    @include flex-center;
    flex-direction: column;
    height: 40vh;
    text-align: center;

    a {
        font-size: 1.25rem;
        text-decoration: none;
        color: #1890ff;

        &:hover {
            text-decoration: underline;
        }
    }
}
