*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}

body {
  background-color: #ffffff;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Responsive için */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
